@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap');

body
{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Rosario', sans-serif;
	color: #cccccc;
	background-color: #2F3136;
}

::-webkit-scrollbar
{
	width: 17px;
}
::-webkit-scrollbar-track
{ 
	background-color: #202225;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #44484f;
}
::-webkit-scrollbar-thumb:hover
{
	background-color: #656b75;
}

/*_____________________________________________________________________*/
/*|                              Menu / Nav                           |*/
/*|___________________________________________________________________|*/

.barra
{
	width: 90px;
	height: 100%;
	position: fixed; 
	background-color: #202225;
	text-align: center;
	align-items: center; 
	height: 100%;
} 
.iconsNav
{
	color: #828D97;
}
.iconsFinaisNav{
	margin-bottom: 50px;
	position: absolute;
	bottom: 0;
	display: inline-block;
}
.barra-nav 
{
	align-items: center; 
	list-style: none;
	padding: 0; 
	margin: 0;
	display: flex;
	flex-direction: column;
}

/*_____________________________________________________________________*/
/*|                             Apresentação                          |*/
/*|___________________________________________________________________|*/

#principal
{
	background-image: url(https://cdn.wallpapersafari.com/59/89/FguWa9.gif);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 450px;
}
.fundoTitulo
{
	background-color: rgba(0 , 0 , 0 , 0.5);
	height: 450px;
}
.titulo
{
	display: flex;
	flex-direction: row;
	margin: 10px;
	transition: 0.5s;
	align-items: center; 
    max-width: 1200px;
    margin: 0 300px 0 450px;
	padding-top: 50px;
}
.titulo h1
{
	padding: 0 75px 0 0;
	font-size: 65px;
}
.titulo p 
{
	padding-left: 25px;
	font-family: 'Rosario', sans-serif;
	transition: 0.7s;
	font-size: 18px;
}
.itensTitulo
{
	padding: 70px 0 0 0;
}
.fotoTitulo
{
	width: 220px;
	transition: 2s; 
	border-radius: 100%;
	position: relative;
	padding: 0 0 0 0; 
}


hr
{
	max-width: 1200px;
	margin: 90px 25px 0 0;
}


/*_____________________________________________________________________*/
/*|                           Monte seu Site                          |*/
/*|___________________________________________________________________|*/

.monteSiteDiv{
	max-width: 2000px;
    margin: 0 200px 0 350px;
}
.monteSiteDiv h1
{
	max-width: 1200px;
	margin-top: 100px;
	text-align: center;
}
.monteSiteDiv p
{
	max-width: 1200px;
	font-size: 23px;
	transition: 1s;
	text-align: center;
}
.monteSiteCards
{
	display: flex;
	flex-direction: row;
	max-width: 1200px;
	align-items: center;
	list-style: none;
}
.Cards
{
	box-shadow: 2px 2px 2px 1px rgba(190, 190, 190, 0.3);
	width: 700px;
	height: 700px;
	background-color: #202225;
	border-radius: 15px;
	margin: 50px;
}
.Cards p
{
	margin: 28px;
}
.itemCards
{
	margin-top: 65px;
	text-align: center;
}
.Cards h2
{
	transition: 3s; 
	margin-top: 30px;
	text-align: center;
}
.Cards p
{
	margin-top: 80px;
}
.butaoCardsDiv
{ 
	color: #cccccc;
	margin-top: 90px;
	align-items: center;
	text-align: center; 
}
.butaoCardsDiv button:hover
{
	color: #cccccc;
	transition: 0.3s;
	background-color: #67b550;
	box-shadow: 2px 2px 2px rgba(190, 190, 190, 0.3);
}
.butaoCards
{
	border-radius: 3px;
	font-size: 30px;
	font-family: 'Aladin', cursive;
	color: #202225;
	width: 250px;
	height: 65px;
	background-color: #828D97; 
}
.precoPrazo p
{
	max-width: 1200px;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}

/*_____________________________________________________________________*/
/*|                              Sobre Mim                            |*/
/*|___________________________________________________________________|*/


#sobreMim
{
	padding-left: 13%;
	padding-right: 12%;
	height: 1300px;
	background-color: #202225;
}
.divSobre
{
	max-width: 1200px;
    margin: 0 50px 0 200px;
	flex-direction: row;
}
.fotoSobre
{
	width: 30%;
}
#sobreMim p
{
	font-size: 23px;
}

/*_____________________________________________________________________*/
/*|                            Conhecimentos                          |*/
/*|___________________________________________________________________|*/

.divCompetencia
{
	display: flex;
	flex-direction: row;
	text-decoration: none;
}
.colEsqCompetencia
{
	margin: 0 50px 0 200px;
	max-width: 600px;
	text-align: left;
}
.colDirCompetencia 
{
	margin: 0 200px 0 50px;
	max-width: 600px;
	text-align: right;

}
.barra1 , .barra2 , .barra3 , .barra4 , .barra5 , .barra6
{
	border-radius: 4px;
	height: 25px;
  	padding: 3px;
  	background-color: #cccccc;
	display: flex; 
	margin: 10px 0;
}
.barra1::before /*HTML e CSS*/
{
	content: "";
	border-radius: 3px;
	margin: 2px;
	width: 85%;
	background-color: #67b550;
}
.barra2::before /*BOOTSTRAP*/
{
	content: "";
	border-radius: 3px;
	margin: 2px;
	width: 85%;
	background-color: #67b550;
}
.barra3::before /*JS*/
{
	content: "";
	border-radius: 3px;
	margin: 2px;
	width: 50%;
	background-color: #67b550;
}
.barra4::before /*JAVA*/
{
	content: "";
	border-radius: 3px;
	margin: 2px;
	width: 50%;
	background-color: #67b550;
}
.barra5::before /*PHP*/
{
	content: "";
	border-radius: 3px;
	margin: 2px;
	width: 50%;
	background-color: #67b550;
}
.barra6::before /*PS*/
{
	content: "";
	border-radius: 3px;
	margin: 2px;
	width: 100%;
	background-color: #67b550;
}
.itensColEsqCompetencia .legenda , .itensColDirCompetencia .legenda
{
  	text-align: center;
  	background-color: rgba(111, 115, 120, 0.5);
	border-radius: 20px 0px;
	margin: 0 0 7px 0;
  	visibility: hidden;
  	display: block;
  	padding: 10px;
}
.itensColEsqCompetencia:hover .legenda , .itensColDirCompetencia:hover .legenda
{
  	visibility: visible;
}

.itensColEsqCompetencia , .itensColDirCompetencia
{
	min-width: 150px;
	text-align: center;
	margin: 50px;
}

/*_____________________________________________________________________*/
/*|                              Portfolio                            |*/
/*|___________________________________________________________________|*/

#portfolio
{
	text-align: center;
	height: 400px;
	max-width: 1200px;
    margin: 0 300px 0 450px;
}
#portfolio p
{
	font-size: 23px;
}
.divBotoesPortfolio
{
	padding: 30px 0;
}
.botoesPortfolio
{
	margin: 0 10px;
	font-size: 30px;
	font-family: 'Aladin', cursive;
	color: #202225;
	width: 250px;
	height: 65px;
	background-color: #828D97;
	border-radius: 3px;
}
.botoesPortfolio:hover
{
	color: #cccccc;
	transition: 0.3s;
	background-color: #67b550;
	box-shadow: 2px 2px 2px rgba(190, 190, 190, 0.3);
}

/*RODAPE Nele tem as Redes e o Fale Comigo*/

#rodape
{
	height: 550px;
	background-image: url(https://cdn.wallpapersafari.com/59/89/FguWa9.gif);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	max-height: 100%;
}
.fundoRodape
{
	height: 550px; 
	background-color: rgba(0 , 0 , 0 , 0.5);
	display: flex;
	flex-direction: row;
}
.divRodape
{
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 1200px;
    margin: 0 300px 0 450px;
	padding: 100px 0;
}

/*_____________________________________________________________________*/
/*|                            Redes Sociais                          |*/
/*|___________________________________________________________________|*/

#redes
{
	height: 400px;
	width: 500px;
	margin-top: 100px;
}
.iconsRedes
{
	display: flex;
	flex-direction: column;
}
#redes a
{
	min-width: 150px;
	color: #cccccc;
	margin: 10px;
}
#redes a:hover
{
	transition: 0.5s; 
	color: #67b550;
	margin: 10px;
}
.creditos
{
	display: flex;
	flex-direction: row;
}
.textoCreditos
{
	padding-top: 25px;
	max-width: 200px;
}

/*_____________________________________________________________________*/
/*|                             Fale Comigo                           |*/
/*|___________________________________________________________________|*/

.divFale
{
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur( 10px );
	-webkit-backdrop-filter: blur( 10px );
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(255 , 255 , 255 , 0.1);

	height: 400px;
	width: 500px; 
	max-width: 600px;
}
.divFale h3
{
	text-align: center;
	padding: 30px 0 0 0;
}
.divFale input
{
	border: 3px outset #cccccc;
	padding: 5px 0 3px 10px;
	border-radius: 5px;
	margin: 0 5px;
	
}
.divFale input:focus , textarea:focus
{
	outline: none;
}
.divFale textarea
{
	text-align: center;
	resize: none;
	border: 3px outset #cccccc;
	padding: 5px 0 3px 10px;
	border-radius: 5px;
}
.divFale button
{
	margin: 10px 10px;
	font-size: 30px;
	font-family: 'Aladin', cursive;
	color: #202225;
	width: 150px;
	height: 45px;
	background-color: #cccccc;
	border-radius: 3px; 
}
.divFale button:hover
{
	color: #cccccc;
	transition: 0.3s;
	background-color: #67b550;
	box-shadow: 2px 2px 2px rgba(190, 190, 190, 0.3);
}
.formIdent
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 50px 12% 20px 12%;
}
.formEnv{
	display: flex;
	flex-direction: column;
	align-items: center;
}












/*_____________________________________________________________________*/
/*|                              PORTFOLIO                            |*/
/*|___________________________________________________________________|*/

#principalPortfolio
{
	background-image: url(https://cdn.wallpapersafari.com/59/89/FguWa9.gif);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 200px;
}
.fundoTituloPortfolio
{
	background-color: rgba(0 , 0 , 0 , 0.5);
	height: 200px;
}
.tituloPortfolio
{
	text-align: center;
	transition: 0.5s;
    max-width: 1200px;
    margin: 0 300px 0 450px;
	padding: 50px 0;
}
.tituloPortfolio h1
{
	padding: 0 75px 0 0;
	font-size: 65px;
}



#conteudoPort
{
	max-width: 1200px;
    margin: 0 300px 0 450px;
	height: 500px;
}
.textoConteudoPort
{
	margin: 50px 0 0 0;
	border-bottom: 3px solid #202225;
	border-radius: 50px;
}
.textoConteudoPort p
{
	text-align: center;
	font-size: 20px;
}

#carrosselTrabalhos
{
	width: 100vh;
}
#divTrabalhosPort
{
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}
.imagensPort
{
	scroll-snap-align: start;
	flex: none;
}
.imagensPort img
{
	width: 200px;
}








/*_____________________________________________________________________*/
/*|                               Padrões                             |*/
/*|___________________________________________________________________|*/


h1, h2, h3, h4, h5, h6 {font-family: 'Aladin', cursive;font-weight: lighter; }
h1 {font-size: 40px;}
h2 {font-size: 35px;}
h3 {font-size: 30px;}

a {text-decoration: none;}
a:link {color: #828D97;}
a:hover {transition: 0.3s; color: #67b550;}
a:active {color: #828D97;}
a:visited {color: #828D97;}

ul li
{
	margin: 10px;
	margin-top: 40px;
	transition: 1.5s; 
}
